# PyInstaller
build/
dist/
*.spec
!CursorKeepAlive.mac.spec
!CursorKeepAlive.win.spec
.venv
# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# 安装包
*.zip

# IDE
.vscode/
.idea/

# Mac
.DS_Store

venv/

node_modules/

.env

screenshots/